<!--
  Generated template for the FeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Feed</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/guilherme-avatar.jpg">
        </ion-avatar>
        <h2>{{ objeto_feed.titulo }}</h2>
        <p>{{ objeto_feed.data }}</p>
      </ion-item>
    
      <img src="assets/imgs/feed-image.jpg">
    
      <ion-card-content>
        <p>{{ objeto_feed.descricao }}</p>
      </ion-card-content>
    
      <ion-row>
        <ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>{{ objeto_feed.quantidade_likes }}</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{ objeto_feed.quantidade_comentarios }}</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            {{ objeto_feed.time_comment }}
          </ion-note>
        </ion-col>
      </ion-row>
    
    </ion-card>

<!-- <ion-card>

  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/guilherme-avatar.jpg">
    </ion-avatar>
    <h2>{{nome_usuario}}</h2>
    <p>Outubro 22, 2018</p>
  </ion-item>

  <img src="assets/imgs/feed-image.jpg">

  <ion-card-content>
    <p>Estou criando um app em Ionic 4.</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-start clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-start clear small>
        <ion-icon name="text"></ion-icon>
        <div>4 Comments</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
  </ion-row>

</ion-card> -->
</ion-content>
