<!--
  Generated template for the IntroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Intro</ion-title>
  </ion-navbar>

</ion-header> -->


<!-- <ion-content padding> padding deixa um espaço entre a tela e o app-->
<ion-content>
    <ion-slides pager>

        <ion-slide class="slide_image">
          <img src="assets/imgs/slide1.png" alt="">
          <h2>App Ionic 4</h2>
          <br>
          <div>
            <p>
              Primeiro aplicativo em Ionic
            </p>
            <p>
              Veja mais <strong>deslizando...</strong>
            </p>
          </div>
          <a (click)="goToTabsPage()">Go</a>
        </ion-slide>
      
        <ion-slide class="slide_image">
          <img src="assets/imgs/slide2.png" alt="">
          <h2>Quase lá</h2>
          <br>
          <div>
            <p>
              Está pronto?
            </p>
            <p>
              Veja mais <strong>deslizando...</strong>
            </p>
          </div>
        </ion-slide>
      
        <ion-slide class="slide_image">
          <img src="assets/imgs/slide3.png" alt="">
          <h2>#Partiu!</h2>
          <br>
          <div>
            <p>
              Está pronto?
            </p>
            <p>
              Veja mais <strong>deslizando...</strong>
            </p>
          </div>
          <a (click)="goToTabsPage()">Go</a>
        </ion-slide>
      
      </ion-slides>
</ion-content>
